/**
* I think element-ui's default theme color is too light for long-term use.
* So I modified the default color and you can modify it to your liking.
**/

/* theme color */
$--color-primary: #3a85ff;
$--color-success: #2ec0a0;
$--color-warning: #FFBA00;
$--color-danger: #f35a51;
$--color-info: #c3cad0;

$--button-font-weight: 400;

// $--color-text-regular: #1f2d3d;

$--border-color-light: #c8d3da;
$--border-color-lighter: #3a85ff;

$--table-border:1px solid#dfe6ec;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  theme: $--color-primary;
}
