@import './yt.scss';
@import './yt-variables.scss';

html,body{min-width: $min-width+px;min-height: 100%;background: #2d3a4b;color:$yellow;}

#app{min-width: $min-width+px;min-height: 100%;background: #2d3a4b;}

@media screen and (max-width: 760px) {
	html,body{min-width: 100%;min-height: 100%;}
	#app{min-width: 100%;min-height: 100%;}
}